<!-- component -->
<app-life-parent></app-life-parent>
<!-- <app-input-parent></app-input-parent> -->
<!-- <app-output-parent></app-output-parent> -->
<!-- <app-parent>
    <app-child></app-child>
</app-parent> -->
<!-- <app-content-children-parent>
        <app-content-children-child name="World"></app-content-children-child>
	    <app-content-children-child name="Other World"></app-content-children-child>
	    <app-content-children-child #last name="Last World"></app-content-children-child>
</app-content-children-parent> -->
<!-- <app-view-child-parent></app-view-child-parent> -->
<!-- <app-view-childer-parent></app-view-childer-parent> -->
<!-- <app-simple-pagination></app-simple-pagination> -->
<!-- <app-exe-pagination></app-exe-pagination> -->

<!-- form -->
<!-- <app-check-tw-id></app-check-tw-id> -->