<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div>
    <label for="username">username</label>
    <input type="text" name="username" id="username" [formControl]="username">
    <div [hidden]="username.valid || username.untouched">
      <div>使用者名稱有以下問題：</div>
      <div [hidden]="!username.hasError('minlength')">不能少於五個字元</div>
      <div [hidden]="!username.hasError('required')">user name 必填</div>
    </div>
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password" id="password" [formControl]="password">
    <div [hidden]="password.valid || password.untouched">
      <div>密碼有以下問題：</div>
      <div [hidden]="!password.hasError('required')">password 必填</div>
      <div [hidden]="!password.hasError('needsExclamation')">你的密碼必須要有一個驚嘆號</div>
    </div>
  </div>
  <div>
    <label for="identity">身分證號碼</label>
    <input type="identity" name="identity" id="identity" [formControl]="identity">
    <div [hidden]="identity.valid || identity.untouched">
      <div>身分證有以下問題：</div>
      <div [hidden]="!identity.hasError('required')">身分證 必填</div>
      <div [hidden]="!identity.hasError('needsIdExclamation')">身分證 格式錯誤</div>
    </div>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Log In</button>
</form>