#form {
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    width: 600px;
}
#form div {
    margin-bottom: 10px;
}
#form div label, #form div input {
    display: inline-block;
    vertical-align:middle;
}
.has-error {
    border: 1px solid red;
}