<h2>
  Form with Validations</h2>
<form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <!-- userName -->
  <div class="form-group has-feedback" [ngClass]="displayFieldCss('username')">
    <label class="control-label">使用者名稱</label>
    <input class="form-control" type="text" placeholder="請輸入使用者名稱" formControlName="username">
    <app-field-error-display [displayError]="validUserName('username').minlenght" errorMsg="不能少於五個字元"></app-field-error-display>
    <app-field-error-display [displayError]="validUserName('username').required" errorMsg="請輸入使用者名稱"></app-field-error-display>
  </div>
  <!-- password -->
  <div class="form-group" [ngClass]="displayFieldCss('password')">
    <label class="control-label">密碼</label>
    <input class="form-control" type="password" placeholder="請輸入密碼" formControlName="password">
    <app-field-error-display [displayError]="validPassword('password').required"  errorMsg="請輸入密碼"></app-field-error-display>
    <app-field-error-display [displayError]="validPassword('password').customValid"  errorMsg="你的密碼必須要有一個驚嘆號"></app-field-error-display>
  </div>
  <!-- name -->
  <div class="form-group" [ngClass]="displayFieldCss('name')">
    <label class="control-label">真實姓名</label>
    <input class="form-control" type="text" placeholder="請輸入真實姓名" nameValidate formControlName="name">
    <app-field-error-display [displayError]="validName('name').required"  errorMsg="請輸入姓名"></app-field-error-display>
    <app-field-error-display [displayError]="validName('name').customValid"  errorMsg="姓名為中文或英文"></app-field-error-display>
  </div>
  <!-- identity -->
  <div class="form-group" [ngClass]="displayFieldCss('identity')">
    <label class="control-label">身分證號碼</label>
    <input class="form-control" type="text" placeholder="請輸入身分證字號" formControlName="identity">
    <app-field-error-display [displayError]="validIdentity('identity').required"  errorMsg="請輸入身分證字號"></app-field-error-display>
    <app-field-error-display [displayError]="validIdentity('identity').customValid"  errorMsg="身分證格式錯誤"></app-field-error-display>
  </div>
  <!-- 貼心小提醒 type:submit 當你在最後一個input按enter的時候 form表單會送出,所以如果不想送出type請設定button -->
  <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">登入</button>

</form>