<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" #observableButton >Observable formEvent</button>
  </div>
</div>
<div class="row">

</div>
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" (click)="doObserable()">Observable of</button>
  </div>
</div>
<div>

</div>
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default">Observable form</button>
  </div>
</div>
<div>

</div>
<div class="row">
    <div class="col-md-12">
  <button class="col-md-12 btn btn-default">Subject Demo</button>
</div>
</div>
<div>

</div>
