<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" #observableButton>Observable formEvent</button>
  </div>
</div>
 
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" (click)="doObservableOf()">Observable of</button>
  </div>
</div>
 
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" (click)="doObservableFrom()" >Observable form</button>
  </div>
</div>
 
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" (click)="addSubject1()">Add Subject1</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" (click)="addSubject2()">Add Subject2</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="col-md-12 btn btn-default" #mySubjectButton>Show Subject</button>
  </div>
</div>
